*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  position: relative;
  font-family: Arial, sans-serif;
  overflow: hidden;
  background-color: #400080;
}
h1{
  font-family: 'Bungee', Arial, sans-serif;
  font-size: 50px;
  background-color: pink;
  background-image: linear-gradient(to bottom right, #ff33ff, #400080);
  color: #330033;
  text-align: center;
  padding: 10px 0;
}
.main{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.gameboard{
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
}
.board {
  position: relative;
  top: 0;
  left: 0;
  width: 403px;
  height: 403px;
  border: 2px solid black;
  overflow: hidden;
  background-color: #f2f2d9;
}
.comp_gameboard {
  display: none;
}
.letters{
  position: absolute;
  top: -20px;
  left: 0;
  display: flex;
}
.letters div{
  color: #ff33ff;
  width: 40px;
  display: flex;
  justify-content: center;
}
.numbers{
  position: absolute;
  top: 0;
  left: -20px;
  display: flex;
  flex-direction: column;
}
.numbers div{
  color: #ff33ff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
}

.board:last-child{
  margin-right: 0;
}
.cell{
  display: flex;
  position: absolute;
  border: 1px solid #777;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  transition: all 0.2s;
}
.ship{
  background-color: goldenrod;
}
.activated{
  background-color: #a6a6a6;
}
.hit{
  color: red;
  background-color: goldenrod;
}
.sunk{
  background-color: red;
  color: red;
  border: 1px solid red;
}
.notice{
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 5;
  width: 300px;
  height: 300px;
  font-size: 30px;
  background-color: pink;
  color: purple;
}
.start {
  line-height: 150%;
  width: 400px;
  color: #f2f2d9;
  padding: 1em;
}

.start h3{
  text-align: center;
  font-size: 1.5em;
}
.start table{
  width: 300px;
  margin: 1em auto;
  text-align: center;
}
#start_game{
  font-size: 1em;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1em;
  background-color: #ff33ff;
  display: block;
  width: 120px;
  margin: 1em auto;
}
.end {
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fa-redo-alt{
  margin: 8px;
}
